@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");
@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-100: #dbd4e6;
  --primary-200: #b7a9cc;
  --primary-300: #927eb3;
  --primary-400: #6e5399;
  --primary-500: #4a2880;
  --primary-600: #3b2066;
  --primary-700: #2c184d;
  --primary-800: #1e1033;
  --primary-900: #0f081a;

  --secondary-100: #ecebf7;
  --secondary-200: #d9d8ef;
  --secondary-300: #c6c4e6;
  --secondary-400: #b3b1de;
  --secondary-500: #a09dd6;
  --secondary-600: #807eab;
  --secondary-700: #605e80;
  --secondary-800: #403f56;
  --secondary-900: #201f2b;

  --surface-100: #e9e9ed;
  --surface-200: #d3d3db;
  --surface-300: #bdbdc8;
  --surface-400: #a7a7b6;
  --surface-500: #9191a4;
  --surface-600: #747483;
  --surface-700: #575762;
  --surface-800: #3a3a42;
  --surface-900: #1d1d21;
  --surface-950: #1d1d21;

  --surface-variant-100: #f3f3f5;
  --surface-variant-200: #e6e7eb;
  --surface-variant-300: #dadae1;
  --surface-variant-400: #cdced7;
  --surface-variant-500: #c1c2cd;
  --surface-variant-600: #9a9ba4;
  --surface-variant-700: #74747b;
  --surface-variant-800: #4d4e52;
  --surface-variant-900: #272729;
}

.dark {
  --primary-100: #dbd4e6;
  --primary-200: #1e1033;
  --primary-300: #2c184d;
  --primary-400: #3b2066;
  --primary-500: #4a2880;
  --primary-600: #6e5399;
  --primary-700: #927eb3;
  --primary-800: #b7a9cc;
  --primary-900: #dbd4e6;

  --secondary-100: #201f2b;
  --secondary-200: #403f56;
  --secondary-300: #605e80;
  --secondary-400: #807eab;
  --secondary-500: #a09dd6;
  --secondary-600: #b3b1de;
  --secondary-700: #c6c4e6;
  --secondary-800: #d9d8ef;
  --secondary-900: #ecebf7;

  --surface-100: #1d1d21;
  --surface-200: #3a3a42;
  --surface-300: #575762;
  --surface-400: #747483;
  --surface-500: #9191a4;
  --surface-600: #a7a7b6;
  --surface-700: #bdbdc8;
  --surface-800: #d3d3db;
  --surface-900: #e9e9ed;
  --surface-950: #1d1d21;

  --surface-variant-100: #272729;
  --surface-variant-200: #4d4e52;
  --surface-variant-300: #74747b;
  --surface-variant-400: #9a9ba4;
  --surface-variant-500: #c1c2cd;
  --surface-variant-600: #cdced7;
  --surface-variant-700: #dadae1;
  --surface-variant-800: #e6e7eb;
  --surface-variant-900: #f3f3f5;
}

@theme inline {
  /* Primary */
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);

  /* Secondary */
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);

  /* Surface */
  --color-surface-100: var(--surface-100);
  --color-surface-200: var(--surface-200);
  --color-surface-300: var(--surface-300);
  --color-surface-400: var(--surface-400);
  --color-surface-500: var(--surface-500);
  --color-surface-600: var(--surface-600);
  --color-surface-700: var(--surface-700);
  --color-surface-800: var(--surface-800);
  --color-surface-900: var(--surface-900);
  --color-surface-950: var(--surface-950);

  /* Surface Variant */
  --color-surface-variant-100: var(--surface-variant-100);
  --color-surface-variant-200: var(--surface-variant-200);
  --color-surface-variant-300: var(--surface-variant-300);
  --color-surface-variant-400: var(--surface-variant-400);
  --color-surface-variant-500: var(--surface-variant-500);
  --color-surface-variant-600: var(--surface-variant-600);
  --color-surface-variant-700: var(--surface-variant-700);
  --color-surface-variant-800: var(--surface-variant-800);
  --color-surface-variant-900: var(--surface-variant-900);
}
